*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.formul{
    display: none;
    flex-direction: column;
    gap: 14px;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);


}